<ng-container>
    <div class="registration-form">
        <div
            id="myAlert"
            class="alert alert-danger alert-dismissible fade"
            role="alert"
        >
            <button
                type="button"
                class="btn btn-close"
                (click)="closeAlert()"
                aria-label="Close"
            >
                <span aria-hidden="true"></span>
            </button>
            <strong>Error:</strong>
            Invalid Credential!
        </div>
        <form
            [formGroup]="registerForm"
            (submit)="addStudent($event)"
        >
            <div class="form-icon">
                <span>
                    <i class="fa-regular fa-user"></i>
                </span>
            </div>
            <div class="form-group">
                <input
                    type="text"
                    formControlName="Name"
                    class="form-control item"
                    id="username"
                    placeholder="Name"
                >
                <ng-container *ngIf="GetPassword.touched">
                    <div
                        *ngIf="GetPassword.hasError('required')"
                        class="form-text item text-danger"
                    >
                        Required
                    </div>
                </ng-container>
            </div>
            <div class="form-group">
                <input
                    type="text"
                    formControlName="UserName"
                    class="form-control item"
                    id="email"
                    placeholder="UserName"
                >
                <ng-container *ngIf="GetPassword.touched">
                    <div
                        *ngIf="GetPassword.hasError('required')"
                        class="form-text item text-danger"
                    >
                        Required
                    </div>
                </ng-container>
            </div>
            <div class="form-group">
                <input
                    type="password"
                    formControlName="Pass"
                    class="form-control item"
                    id="password"
                    placeholder="Password"
                >
                <ng-container *ngIf="GetPassword.touched">
                    <div
                        *ngIf="GetPassword.hasError('required')"
                        class="form-text text-danger"
                    >
                        Required
                    </div>
                </ng-container>
            </div>
            <div class="form-group text-center">
                <button
                    type="submit"
                    class="btn btn-block create-account"
                    (click)="addStudent"
                >
                    Create Account
                </button>
            </div>
        </form>
        <div class="social-media">
            <div class="form-group">
                <button
                    type="button"
                    [routerLink]="['/student/login']"
                    class="btn btn-block create-account"
                >
                    LogIn
                </button>
            </div>
        </div>
    </div>
</ng-container>
